@import 'components/variables';
@import 'components/base';

body {
	background-color: $bg-color;
	font-size: 16px;
	font-family: 'Noto Serif', serif;
	color: $text-color;

	// Logged-in admin styles.
	&.admin-bar {
		.header {
			top: 32px;
		}

		.sidebar .search-container {
			margin-top: 32px;
		}
	}
}

/**
 * Navigation bar.
 */
.header {
	position: fixed;
	top: 0;
	left: $sidebar-width;
	width: 100%;
	height: $header-height;
	line-height: $header-height;
	box-shadow: 0 4px 8px rgba(0,0,0,.26);
	background-color: yellow;
	font-family: 'Press Start 2P', monospace;
	font-size: 22px;
	z-index: 5;
	box-sizing: border-box;
	max-width: calc(100% - 255px);
	display: flex;

	.menu {
		text-align: right;
		position: absolute;
		right: 64px;
		top: 1em;
		font-size: 16px;

		li {
			float: right;
			margin-right: 2em;
		}
	}

	.header-content {
		padding-left: 5.5vw;
		padding-right: 4em;
		height: $header-height;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&.has-logo {
			padding-left: 1em;	
		}
	}

	.site-logo {
		height: 48px;
		margin-left: 5.5vw;
		margin-top: 0.5em;

		img {
			height: 48px;
			width: auto;
		}
	}

}

/**
 * Mobile open/close menu buttons.
 */
.open-menu,
.close-menu {
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	color: white;
	display: none;
	z-index: 7;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 45px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);

	i {
		cursor: pointer;
		line-height: 45px;
	}
}

/**
 * Site content containers.
 */
.site-container {
	padding-top: $header-height;
	width: 100%;
	max-width: calc(100% - 255px);
	margin-left: $sidebar-width;
}

article, #comments {
	position: relative;
	overflow: hidden;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 4em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	font-size: 1.1vw;
	line-height: 2vw;

	a {
		text-decoration: underline;
	}

	p {
		margin-bottom: 1.5em;
		line-height: 1.75em;
	}

	h1, h2, h3, h4 {
		line-height: 1.5em;
	}

	li {
		margin-bottom: 1em;
	}

	img {
		box-shadow: $shadow;
		border-radius: 3px;
		max-width: calc(100% - 4em);
		height: auto;
		margin: 2em;
		margin-left: 0;
		display: block;

		&.alignleft {
			float: left;
		}

		&.alignright {
			float: right;
			margin-right: 0;
		}
	}

	.archive-title {
		margin-bottom: 0;
	}

	&.has-post-thumbnail {
		.thumbnail {
			img {
				max-width: 50vh;
				width: 100%;
				height: auto;
				float: left;
				margin-right: 2em;
				margin-bottom: 2em;
				margin-left: 0;
				margin-top: 0;
			}
		}
	}

	.alignwide {
		width: 110%;
		transform: translate(-5%, 0px);
	}

	.alignfull {
		width: 118%;
		transform: translate(-7%, 0px);
	}

	.alignwide figcaption,
	.alignfull figcaption {
		text-align: center;
	}

	table,
	th,
	td {
		border: 2px solid rgba(0, 0, 0, 0.14);
	}

	table {
		margin-bottom: 1em;
		margin-top: 1em;
	}

	th,
	td {
		padding: 0.5em;
	}

	.has-drop-cap:not(:focus):first-letter {
		font-family: 'Press Start 2P';
	}
}

.single article, .page article {
	box-shadow: none;
}

/**
 * Comments.
 */
#comments {
	.comments-title {
		padding-top: 0;
	}

	img {
		position: absolute;
		margin: 0;
		left: 0;
	}

	h3 {
		padding-top: 0;
	}

	ul {
		list-style-type: none;

		.children {
			padding-top: 2em;
			padding-left: 2em;

			.children {
				padding-left: 4em;

				.children {
					padding-left: 6em;
				}
			}
		}
	}

	label {
		display: block;
	}

	li {
		margin-left: 0;
	}

	#reply-title {
		display: none;
	}

	.comment-meta {
		font-size: 12px;
		opacity: .5;
		margin-bottom: 1em;
	}

	.depth-1 {
		margin-bottom: 4em;
	}
}

/**
 * Sidebar.
 */ 
.sidebar {
	position: fixed;
	height: 100vh;
	left: 0;
	top: 0;
	width: $sidebar-width;
	background-color: #ffffff;
	z-index: 6;
	border-right: 2px solid rgba(0,0,0,0.14);

	a {
		text-decoration: underline;
	}

	h3 {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 2em;
		margin-top: 0;
		padding: 0;
	}

	ul {
		list-style-type: none;
	}

	.search-container {
		height: $header-height + 2px;
		line-height: $header-height + 2px;
		padding-left: 28px;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(0,0,0,0.14);
		font-family: 'Press Start 2P', monospace;
		font-size: 20px;
		position: relative;
		color: #e3e3e3;

		input[type="text"] {
			position: absolute;
			top: 18px;
			left: 3.5em;
			border: none;
			outline: none;
			font-size: 16px;
			width: 152px;

			&::placeholder {
				color: #e3e3e3;
				font-weight: bold;
			}
		}

		i {
			cursor: pointer;
			position: absolute;
			top: 22px;
		}
	}

	.widget_recent_entries {
		li {
			a {
				font-weight: bold;
			}

			.post-date {
				display: block;
			}
		}
	}

	li {
		font-weight: bold;
		font-family: 'Noto Serif', sans-serif;
		padding-bottom: 2em;
		letter-spacing: .1px;
		margin-left: 0;

		li {
			font-size: 13px;
			font-weight: 400;
			padding-bottom: 1em;
			padding-left: 0;
			line-height: 1.2em;
		}
	}

	select {
		margin-left: 2em;
		border-radius: 3px;
	}

	input {
		margin-bottom: 1em;
	}

	.sidebar-content {
		font-size: 14px;
		padding: 2em;
		overflow-y: auto;
		max-height: calc(100vh - 161px);
	}
}

/**
 * Next/Prev archive page section.
 */
.navigation {
	height: 6em;
	font-size: 18px;
	position: relative;
	text-transform: capitalize;

	.nav-previous a,
	.nav-next a {
		box-shadow: $shadow;
		padding: 1em;
		border-radius: 3px;
	}

	.nav-previous {
		position: absolute;
		bottom: 2em;
		left: 1em;
	}

	.nav-next {
		position: absolute;
		bottom: 2em;
		right: 1em;
	}
}

/**
 * Site footer.
 */
.footer {
	text-align: center;
	font-size: 13px;
	padding-top: 20px;
	padding-bottom: 20px;

	ul {
		list-style-type: none;
		padding-bottom: 20px;
	}

	li {
		display: inline;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
}

/**
 * Mobile styles.
 */
@media screen and (max-width: 1000px) {
	.sidebar {
		left: - $sidebar-width - 131px;
		transition: left 1s;
		box-shadow: 0 0px 131px rgba(0, 0, 0, 0.36);
	}

	.site-container {
		max-width: 100%;
		margin-left: 0;
	}

	.header {
		max-width: 100%;
		left: 0;

		.header-content {
			padding-right: 0;
			padding-left: 45px;
			font-size: 16px;
		}

		.site-logo {
			left: 45px!important;
		}
	}

	article, #comments {
		font-size: 15px;
		line-height: 24px;
		padding-left: 3em!important;
		padding-right: 3em!important;

		img {
			float: none!important;
		}
	}

	.open-menu {
		display: inline-block;
	}

	body.menu-open {
		.sidebar {
			left: 0;
		}

		.open-menu {
			display: none;
		}

		.close-menu {
			display: inline-block;
		}
	}

	article .wp-block-image figcaption {
		font-size: 10px;
	}

	article .wp-block-text-columns {
		display: block;

		.wp-block-column {
			width: 100%!important;
			margin: 0;
		}
	}
}

/**
 * WooCommerce
 */
body.woocommerce {
	span.onsale {
		z-index: 4;
	}
}

@import 'components/blocks.scss'