/**
 * Variables.
 */
$bg-color: #fbfbfb;
$text-color: #212121;
$card-bg-color: #F5F5F6;

$header-height: 70px;
$sidebar-width: 255px;

$shadow: 0 2px 5px rgba(0,0,0,.26);

/**
 * Reset everything.
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

/**
 * Generic item CSS.
 */
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	padding-top: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

p {
	line-height: 1.4em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 4em;
}

hr {
	height: 2px;
	background: rgba(0, 0, 0, 0.14);
	color: rgba(0, 0, 0, 0.14);
	margin-top: 4em;
	margin-bottom: 2em;
	width: 25%;
	border: none;
}

textarea {
	max-width: 100%;
}

body {
	background-color: $bg-color;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	color: $text-color;

	// Logged-in admin styles.
	&.admin-bar {
		.header {
			top: 32px;
		}

		.sidebar .search-container {
			margin-top: 32px;
		}
	}
}

/**
 * Navigation bar.
 */
.header {
	position: fixed;
	top: 0;
	left: $sidebar-width;
	width: 100%;
	height: $header-height;
	line-height: $header-height;
	box-shadow: 0 4px 8px rgba(0,0,0,.26);
	background-color: yellow;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	z-index: 5;
	box-sizing: border-box;
	max-width: calc(100% - 255px);

	.menu {
		text-align: right;
		position: absolute;
		right: 64px;
		top: 1em;
		font-size: 16px;

		li {
			float: right;
			margin-right: 2em;
		}
	}

	.header-content {
		padding-left: 5.5vw;
		padding-right: 4em;
		height: $header-height;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&.has-logo {
			padding-left: calc(5.5vw + 64px);
		}
	}

	.site-logo {
		height: 48px;
		position: absolute;
		left: 5.5vw;
		top: 10px;

		img {
			height: 48px;
			width: auto;
		}
	}

}

/**
 * Mobile open/close menu buttons.
 */
.open-menu,
.close-menu {
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	color: white;
	display: none;
	z-index: 7;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 45px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);

	i {
		cursor: pointer;
		line-height: 45px;
	}
}

/**
 * Site content containers.
 */
.site-container {
	padding-top: $header-height;
	width: 100%;
	max-width: calc(100% - 255px);
	margin-left: $sidebar-width;
}

article, #comments {
	position: relative;
	overflow: hidden;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 4em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	font-size: 1.1vw;
	line-height: 2vw;

	a {
		text-decoration: underline;
	}

	p {
		margin-bottom: 1.5em;
		line-height: 1.75em;
	}

	h1, h2, h3, h4 {
		line-height: 1.5em;
	}

	li {
		margin-bottom: 1em;
	}

	img {
		box-shadow: $shadow;
		border-radius: 3px;
		max-width: calc(100% - 4em);
		height: auto;
		margin: 2em;
		margin-left: 0;
		display: block;

		&.alignleft {
			float: left;
		}

		&.alignright {
			float: right;
			margin-right: 0;
		}
	}

	.archive-title {
		margin-bottom: 0;
	}

	&.has-post-thumbnail {
		.thumbnail {
			img {
				max-width: 50vh;
				width: 100%;
				height: auto;
				float: left;
				margin-right: 2em;
				margin-bottom: 2em;
				margin-left: 0;
				margin-top: 0;
			}
		}
	}

	.alignwide {
		width: 110%;
		transform: translate(-5%, 0px);
	}

	.alignfull {
		width: 118%;
		transform: translate(-7%, 0px);
	}

	.wp-block-image {
		figcaption {
			margin-top: -2em;
			font-size: 1vw;
			opacity: 0.6;
		}
	}

	.alignwide figcaption,
	.alignfull figcaption {
		text-align: center;
	}

	.wp-block-cover {
		margin-bottom: 1em;
	}

	.wp-block-gallery {
		margin-top: 3em;
	}

	.wp-block-text-columns,
	.wp-block-columns {
		&.alignfull {
			width: 114%;
			transform: translate(-6%, 0);
		}
	}

	.wp-block-quote {
		padding-left: 1em;
		border-left: 2px solid rgba(0, 0, 0, 0.14);
		opacity: 0.75;
		font-style: italic;

		cite {
			display: block;
			margin-top: -1em;
			text-align: left;

			&::before {
				content: "\2014";
				margin-right: 0.25em;
			}
		}

		&.is-style-large cite {
			text-align: left;
		}
	}

	.wp-block-pullquote {
		opacity: 0.5;
		border-top: 2px solid rgba(0, 0, 0, 0.14);
		border-bottom: 2px solid rgba(0, 0, 0, 0.14);

		cite {
			display: block;
			margin-top: -1em;
		}

		&.alignfull {
			box-sizing: border-box;
			padding-left: 2em;
			padding-right: 3em;
		}
	}

	.wp-block-audio {
		&.alignleft {
			width: 50%;
			float: left;
		}

		&.alignright {
			width: 50%;
			float: right;
		}
		&.alignfull {
			box-sizing: border-box;
			padding-right: 1em;
		}


		figcaption {
			margin-top: -.25em;
			font-size: 1vw;
			opacity: 0.6;
			text-align: center;
		}
	}

	.wp-block-video {
		video {
			width: 100%;
		}
	}

	.wp-block-code,
	.wp-block-preformatted {
		font-family: monospace;
		background-color: white;
		padding: 2em;
		box-shadow: $shadow;
	}

	table,
	th,
	td {
		border: 2px solid rgba(0, 0, 0, 0.14);
	}

	table {
		margin-bottom: 1em;
		margin-top: 1em;
	}

	th,
	td {
		padding: 0.5em;
	}

	.wp-block-table.alignfull {
		box-sizing: border-box;
		padding-left: 0.25em;
		padding-right: 1.25em;
	}

	.wp-block-separator.is-style-wide {
		width: 120%;
		transform: translate(-10%, 0);
	}

	.wp-block-latest-posts {
		&.alignfull {
			box-sizing: border-box;
			padding-left: 1em;
			padding-right: 2em;
		}

		a {
			font-weight: bold;
			text-decoration: none;
		}
	}

	.wp-block-latest-posts__post-author, 
	.wp-block-latest-posts__post-date {
		margin-top: -.5em;
	}

	.wp-block-latest-posts__featured-image {
		img {
			margin-bottom: .5em;
		}

		&.alignleft img {
			float: left;
			margin-top: 0;
			margin-bottom: 2em;
		}
	}

	.wp-block-embed {
		&.alignleft {
			float: left;
			margin-right: 2em;
			margin-bottom: 2em;
		}

		&.alignright {
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;
		}

		&.aligncenter {
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;

			figcaption {
				text-align: center;
			}
		}

		figcaption {
			font-size: 1vw;
			opacity: 0.6;
			margin-top: -.25em;
		}
	}
}

.single article, .page article {
	box-shadow: none;
}

/**
 * Comments.
 */
#comments {
	.comments-title {
		padding-top: 0;
	}

	img {
		position: absolute;
		margin: 0;
		left: 0;
	}

	h3 {
		padding-top: 0;
	}

	ul {
		list-style-type: none;

		.children {
			padding-top: 2em;
			padding-left: 2em;

			.children {
				padding-left: 4em;

				.children {
					padding-left: 6em;
				}
			}
		}
	}

	label {
		display: block;
	}

	li {
		margin-left: 0;
	}

	#reply-title {
		display: none;
	}

	.comment-meta {
		font-size: 12px;
		opacity: .5;
		margin-bottom: 1em;
	}

	.depth-1 {
		margin-bottom: 4em;
	}
}

/**
 * Sidebar.
 */ 
.sidebar {
	position: fixed;
	height: 100vh;
	left: 0;
	top: 0;
	width: $sidebar-width;
	background-color: #ffffff;
	z-index: 6;
	border-right: 2px solid rgba(0,0,0,0.14);

	a {
		color: $text-color;
	}

	h3 {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 2em;
		margin-top: 0;
		padding: 0;
	}

	ul {
		list-style-type: none;
	}

	.search-container {
		height: $header-height + 2px;
		line-height: $header-height + 2px;
		padding-left: 28px;
		box-sizing: border-box;
		border-bottom: 2px solid rgba(0,0,0,0.14);
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		position: relative;
		color: #e3e3e3;

		input[type="text"] {
			position: absolute;
			top: 26px;
			left: 4em;
			border: none;
			outline: none;
			font-size: 14px;
			width: 152px;

			&::placeholder {
				color: #e3e3e3;
				font-weight: bold;
			}
		}

		i {
			cursor: pointer;
			position: absolute;
			top: 22px;
		}
	}

	.widgets {
		ul {
			margin-top: -1em;
			margin-bottom: -1em;
		}
	}

	li {
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 2em;
		letter-spacing: .1px;
		margin-left: 0;

		li {
			font-size: 13px;
			font-weight: 400;
			padding-bottom: 1em;
			padding-left: 2em;
			line-height: 1.2em;
		}
	}

	select {
		margin-left: 2em;
		border-radius: 3px;
	}

	input {
		margin-bottom: 1em;
	}

	.sidebar-content {
		font-size: 14px;
		padding: 2em;
		overflow-y: auto;
		max-height: calc(100vh - 161px);
	}
}

/**
 * Next/Prev archive page section.
 */
.navigation {
	height: 6em;
	font-size: 18px;
	position: relative;
	text-transform: capitalize;

	.nav-previous a,
	.nav-next a {
		box-shadow: $shadow;
		padding: 1em;
		border-radius: 3px;
	}

	.nav-previous {
		position: absolute;
		bottom: 2em;
		left: 1em;
	}

	.nav-next {
		position: absolute;
		bottom: 2em;
		right: 1em;
	}
}

/**
 * Site footer.
 */
.footer {
	text-align: center;
	font-size: 13px;
	padding-top: 20px;
	padding-bottom: 20px;

	ul {
		list-style-type: none;
		padding-bottom: 20px;
	}

	li {
		display: inline;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;
	}
}

/**
 * Mobile styles.
 */
@media screen and (max-width: 1000px) {
	.sidebar {
		left: - $sidebar-width - 131px;
		transition: left 1s;
		box-shadow: 0 0px 131px rgba(0, 0, 0, 0.36);
	}

	.site-container {
		max-width: 100%;
		margin-left: 0;
	}

	.header {
		max-width: 100%;
		left: 0;

		.header-content {
			padding-right: 0;
			padding-left: 45px;

			&.has-logo {
				padding-left: 110px;
			}
		}

		.site-logo {
			left: 45px!important;
		}
	}

	article, #comments {
		font-size: 15px;
		line-height: 24px;
		padding-left: 3em!important;
		padding-right: 3em!important;

		p {
			line-height: 24px;
		}

		img {
			float: none!important;
		}
	}

	.open-menu {
		display: inline-block;
	}

	body.menu-open {
		.sidebar {
			left: 0;
		}

		.open-menu {
			display: none;
		}

		.close-menu {
			display: inline-block;
		}
	}
}