/**
 * Variables.
 */
/**
 * Reset everything.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clear {
  clear: both; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/**
 * Generic item CSS.
 */
a {
  text-decoration: none; }

h1, h2, h3, h4 {
  margin-bottom: 1em;
  padding-top: 2em;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 2em; }

h2, h3 {
  font-size: 1.5em; }

p {
  line-height: 24px; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

li {
  margin-left: 4em; }

hr {
  visibility: hidden;
  height: 2em; }

textarea {
  max-width: 100%; }

body {
  background-color: #fbfbfb;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #212121; }
  body.admin-bar .header {
    top: 32px; }
  body.admin-bar .sidebar .search-container {
    margin-top: 32px; }

/**
 * Navigation bar.
 */
.header {
  position: fixed;
  top: 0;
  left: 255px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  z-index: 5;
  box-sizing: border-box;
  max-width: calc(100% - 255px); }
  .header .menu {
    text-align: right;
    position: absolute;
    right: 64px;
    top: 1em;
    font-size: 16px; }
    .header .menu li {
      float: right;
      margin-right: 2em; }
  .header .header-content {
    padding-left: 5.5vw;
    padding-right: 4em;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .header .header-content.has-logo {
      padding-left: calc(5.5vw + 64px); }
  .header .site-logo {
    height: 48px;
    position: absolute;
    left: 5.5vw;
    top: 10px; }
    .header .site-logo img {
      height: 48px;
      width: auto; }

/**
 * Mobile open/close menu buttons.
 */
.open-menu,
.close-menu {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  color: white;
  display: none;
  z-index: 7;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 45px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26); }
  .open-menu i,
  .close-menu i {
    cursor: pointer;
    line-height: 45px; }

/**
 * Site content containers.
 */
.site-container {
  padding-top: 70px;
  width: 100%;
  max-width: calc(100% - 255px);
  margin-left: 255px; }

article, #comments {
  position: relative;
  overflow: hidden;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 4em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  font-size: 1.1vw;
  line-height: 2vw; }
  article p, #comments p {
    margin-bottom: 1.5em;
    line-height: 2vw; }
  article h1, article h2, article h3, article h4, #comments h1, #comments h2, #comments h3, #comments h4 {
    line-height: 1.5em; }
  article li, #comments li {
    margin-bottom: 1em; }
  article img, #comments img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    max-width: calc(100% - 4em);
    height: auto;
    margin: 2em;
    margin-left: 0;
    display: block; }
    article img.alignleft, #comments img.alignleft {
      float: left; }
    article img.alignright, #comments img.alignright {
      float: right;
      margin-right: 0; }
  article .archive-title, #comments .archive-title {
    margin-bottom: 0; }
  article.has-post-thumbnail .thumbnail img, #comments.has-post-thumbnail .thumbnail img {
    max-width: 50vh;
    width: 100%;
    height: auto;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-top: 0; }

.single article, .page article {
  box-shadow: none; }

/**
 * Comments.
 */
#comments .comments-title {
  padding-top: 0; }
#comments img {
  position: absolute;
  margin: 0;
  left: 0; }
#comments h3 {
  padding-top: 0; }
#comments ul {
  list-style-type: none; }
  #comments ul .children {
    padding-top: 2em;
    padding-left: 2em; }
    #comments ul .children .children {
      padding-left: 4em; }
      #comments ul .children .children .children {
        padding-left: 6em; }
#comments label {
  display: block; }
#comments li {
  margin-left: 0; }
#comments #reply-title {
  display: none; }
#comments .comment-meta {
  font-size: 12px;
  opacity: .5;
  margin-bottom: 1em; }
#comments .depth-1 {
  margin-bottom: 4em; }

/**
 * Sidebar.
 */
.sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 255px;
  background-color: #ffffff;
  z-index: 6;
  border-right: 2px solid rgba(0, 0, 0, 0.14); }
  .sidebar a {
    color: #212121; }
  .sidebar h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 0;
    padding: 0; }
  .sidebar ul {
    list-style-type: none; }
  .sidebar .search-container {
    height: 72px;
    line-height: 72px;
    padding-left: 28px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.14);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    color: #e3e3e3; }
    .sidebar .search-container input[type="text"] {
      position: absolute;
      top: 26px;
      left: 4em;
      border: none;
      outline: none;
      font-size: 14px;
      width: 152px; }
      .sidebar .search-container input[type="text"]::placeholder {
        color: #e3e3e3;
        font-weight: bold; }
    .sidebar .search-container i {
      cursor: pointer;
      position: absolute;
      top: 22px; }
  .sidebar .widgets ul {
    margin-top: -1em;
    margin-bottom: -1em; }
  .sidebar li {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2em;
    letter-spacing: .1px;
    margin-left: 0; }
    .sidebar li li {
      font-size: 13px;
      font-weight: 400;
      padding-bottom: 1em;
      padding-left: 2em;
      line-height: 1.2em; }
  .sidebar select {
    margin-left: 2em;
    border-radius: 3px; }
  .sidebar input {
    margin-bottom: 1em; }
  .sidebar .sidebar-content {
    font-size: 14px;
    padding: 2em;
    overflow-y: auto;
    max-height: calc(100vh - 161px); }

/**
 * Next/Prev archive page section.
 */
.navigation {
  height: 6em;
  font-size: 18px;
  position: relative;
  text-transform: capitalize; }
  .navigation .nav-previous a,
  .navigation .nav-next a {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    padding: 1em;
    border-radius: 3px; }
  .navigation .nav-previous {
    position: absolute;
    bottom: 2em;
    left: 1em; }
  .navigation .nav-next {
    position: absolute;
    bottom: 2em;
    right: 1em; }

/**
 * Site footer.
 */
.footer {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer ul {
    list-style-type: none;
    padding-bottom: 20px; }
  .footer li {
    display: inline;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em; }

/**
 * Mobile styles.
 */
@media screen and (max-width: 1000px) {
  .sidebar {
    left: -386px;
    transition: left 1s;
    box-shadow: 0 0px 131px rgba(0, 0, 0, 0.36); }

  .site-container {
    max-width: 100%;
    margin-left: 0; }

  .header {
    max-width: 100%;
    left: 0; }
    .header .header-content {
      padding-right: 0;
      padding-left: 45px; }
      .header .header-content.has-logo {
        padding-left: 110px; }
    .header .site-logo {
      left: 45px !important; }

  article, #comments {
    font-size: 15px;
    line-height: 24px;
    padding-left: 3em !important;
    padding-right: 3em !important; }
    article p, #comments p {
      line-height: 24px; }
    article img, #comments img {
      float: none !important; }

  .open-menu {
    display: inline-block; }

  body.menu-open .sidebar {
    left: 0; }
  body.menu-open .open-menu {
    display: none; }
  body.menu-open .close-menu {
    display: inline-block; } }

/*# sourceMappingURL=uptown-smooth.css.map */
