/**
 * Reset everything.
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

/**
 * Generic item CSS.
 */
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	padding-top: 2em;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

p {
	line-height: 1.4em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 4em;
}

hr {
	height: 2px;
	background: rgba(0, 0, 0, 0.14);
	color: rgba(0, 0, 0, 0.14);
	margin-top: 4em;
	margin-bottom: 2em;
	width: 25%;
	border: none;
}

textarea {
	max-width: 100%;
}

strong, b, em, i {
	font-family: 'Press Start 2P', monospace;
	vertical-align: bottom;
	word-spacing: -.5em;
}

figcaption {
	font-family: 'Press Start 2P', monospace;
}

blockquote {
	font-family: 'Press Start 2P', monospace;
	text-transform: uppercase;
}

input[type="number"], input[type="text"] {
	height: 2em;
}