article, #comments {
	.wp-block-image {
		figcaption {
			margin-top: -2em;
			font-size: 1vw;
			opacity: 0.6;
		}
	}

	.alignwide figcaption,
	.alignfull figcaption {
		text-align: center;
	}

	.wp-block-cover {
		margin-bottom: 1em;
		text-transform: uppercase;

		p {
			font-family: 'Press Start 2P', monospace;
		}
	}

	.wp-block-gallery {
		margin-top: 3em;
	}

	.wp-block-text-columns,
	.wp-block-columns {
		&.alignfull {
			width: 114%;
			transform: translate(-6%, 0);
		}
	}

	.wp-block-quote {
		padding-left: 1em;
		border-left: 2px solid rgba(0, 0, 0, 0.14);
		opacity: 0.75;
		font-style: italic;

		cite {
			display: block;
			margin-top: -1em;
			text-align: left;

			&::before {
				content: "\2014";
				margin-right: 0.25em;
			}
		}

		&.is-style-large cite {
			text-align: left;
		}
	}

	.wp-block-pullquote {
		opacity: 0.5;
		border-top: 2px solid rgba(0, 0, 0, 0.14);
		border-bottom: 2px solid rgba(0, 0, 0, 0.14);

		cite {
			display: block;
			margin-top: -1em;
		}

		&.alignfull {
			box-sizing: border-box;
			padding-left: 2em;
			padding-right: 3em;
		}
	}

	.wp-block-audio {
		&.alignleft {
			width: 50%;
			float: left;
		}

		&.alignright {
			width: 50%;
			float: right;
		}
		&.alignfull {
			box-sizing: border-box;
			padding-right: 1em;
		}


		figcaption {
			margin-top: -.25em;
			font-size: 1vw;
			opacity: 0.6;
			text-align: center;
		}
	}

	.wp-block-video {
		video {
			width: 100%;
		}
	}

	.wp-block-code,
	.wp-block-preformatted {
		font-family: monospace;
		background-color: white;
		padding: 2em;
		box-shadow: $shadow;
		overflow-x: auto;

		code,
		pre {
			white-space: inherit;
		}
	}

	.wp-block-verse {
		white-space: inherit;
	}

	.wp-block-table.alignfull {
		box-sizing: border-box;
		padding-left: 0.25em;
		padding-right: 1.25em;
	}

	.wp-block-separator.is-style-wide {
		width: 120%;
		transform: translate(-10%, 0);
	}

	.wp-block-latest-posts {
		&.alignfull {
			box-sizing: border-box;
			padding-left: 1em;
			padding-right: 2em;
		}

		a {
			font-weight: bold;
		}
	}

	.wp-block-latest-posts__post-author, 
	.wp-block-latest-posts__post-date {
		margin-top: -.5em;
	}

	.wp-block-latest-posts__featured-image {
		img {
			margin-bottom: .5em;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		&.alignleft img {
			float: left;
			margin-top: 0;
			margin-bottom: 2em;
			margin-right: 2em;
		}

		&.alignright img {
			float: right;
			margin-top: 0;
			margin-bottom: 2em;
			margin-left: 2em;
		}
	}

	.wp-block-embed {
		&.alignleft {
			float: left;
			margin-right: 2em;
			margin-bottom: 2em;
		}

		&.alignright {
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;
		}

		&.aligncenter {
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;

			figcaption {
				text-align: center;
			}
		}

		figcaption {
			font-size: 1vw;
			opacity: 0.6;
			margin-top: -.25em;
		}
	}

	.wp-block-group {
		box-sizing: border-box;
		padding: 1em;

		&.alignfull {
			padding-left: 2em;
			padding-right: 3em;
		}
	}

	.wc-block-grid__products .wc-block-grid__product-image img {
		width: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-block-button {
		font-family: 'Press Start 2P', monospace;
		text-transform: uppercase;
	}
}